# Server
PORT=5001

# Database
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<dbName>?retryWrites=true&w=majority

# Cloudinary
CLOUDINARY_CLOUD_NAME=<your_cloud_name>
CLOUDINARY_API_KEY=<your_cloudinary_api_key>
CLOUDINARY_API_SECRET=<your_cloudinary_api_secret>

# App secrets
JWT_SECRET=<generate_a_strong_random_secret>
